:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --theme: #409eff;
  --background: #fff;
  --main: #303133;
  --routine: #606266;
  --minor: #909399;
  --seat: #c0c4cc;
  --classA: #dcdfe6;
  --classB: #e4e7ed;
  --classC: #ebeef5;
  --classD: #f2f6fc;
  --radius-wrap: 8px;
  --radius-inner: 4px;
  --text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  --box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.22);
}

img {
  border: 0;
  vertical-align: middle;
}

input[type="text"] {
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 13px;
  font-weight: 500;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 13px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img {
  padding: 0;
  margin: 0;
}
ul {
  margin-bottom: 0 !important;
}
li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  font-weight: 500;
  outline: 0;
  text-decoration: none;
  color: #77b6ff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -520;
  pointer-events: none;
  background: #f5f5f5;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
