/* 自定义进度条样式 */
#nprogress .bar {
    background: #42b983 !important;  /* 你可以设置自己喜欢的颜色 */
    height: 3px; /* 进度条高度 */
  }
  
  #nprogress .peg {
    box-shadow: 0 0 10px #42b983, 0 0 5px #42b983; /* 自定义阴影 */
  }
  
  #nprogress .spinner-icon {
    border-top-color: #42b983;
  }
  